<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Fraud Awareness</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="static/css/templatemo-festava-live.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

-->
<style> .gallery {
    --s: 150px; /* control the size */
    
    display: grid;
    gap: 10px; /* control the gap */
    grid: auto-flow var(--s)/repeat(3,var(--s));
    place-items: center;
    margin: calc(var(--s)/4);
  }
  .gallery > img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .gallery > img:nth-child(odd) {
    border-radius: 50%;
    width: 141%;
  }
  .gallery > img:nth-child(even) {
    --_r: calc(var(--s)/1.414) at;
    --_g: calc(var(--s)/-2),#000 99%,#0000;
    --_m:
      radial-gradient(var(--_r) left 50% bottom var(--_g)),
      radial-gradient(var(--_r) left 50% top    var(--_g)),
      radial-gradient(var(--_r) top  50% right  var(--_g)),
      radial-gradient(var(--_r) top  50% left   var(--_g)),
      linear-gradient(#000 0 0);
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: destination-out;
            mask-composite: exclude;
  }
  
  
  body {
    margin: 0;
    min-height: 100vh;
    place-content: center;
    
  }</style>
</head>

<body>

    <main>




        {% extends "navbar.html" %}
        {% block content %}


        <section class="hero-section" id="section_1">
            <div class="section-overlay"></div>

            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">

                    <div class="col-12 mt-auto mb-5 text-center">

                        <h1 class="text-white mb-5" style="font-size: 35px;">Over 1.5 million people <br/>fell victim to online fraud in 2021
                        </h1>

                        <a class="btn custom-btn smoothscroll" href="#section_2">Learn More</a>
                    </div>

                    <div class="col-lg-12 col-12 mt-auto d-flex flex-column flex-lg-row text-center">
                        <div class="date-wrap">
                
                        </div>

                        <div class="location-wrap mx-auto py-3 py-lg-0">
                            <h5 class="text-white">
                                <i class="custom-icon bi-geo-alt me-2"></i>
                                Mauritius, Spoon Consulting Ltd
                            </h5>
                        </div>

                        <div class="social-share">

                        </div>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="static/video/bgvid.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>


        <section class="about-section section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-4 mb-lg-0 d-flex align-items-center">
                        <div class="services-info">
                            <h2 class="text-white mb-4">What is Online frauds?</h2>

                            <p class="text-white">
                                Online frauds are like sneaky tricks on the internet. Bad actors use clever schemes 
                                to trick people into giving away their money or personal information. If you fall for it,
                                 you might lose cash or have other problems.</p>
s
                           
                            <h6 class="text-white mt-4">Types of Online Fraud</h6>

                            <p class="text-white">Phising, Malware and Ransomware, Online scam</p>
                            
                            <h6 class="text-white mt-4">Solution</h6>

                            <p class="text-white"> We can fight against this by being careful online and
                                using better security measures. But there's more to the solution, and we'll talk about that late.</p>

                        
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="about-text-wrap">
                            <div class="gallery">
                                <img src="../static/images/collage/cyber-theft-senior-fraud-GIF.gif" alt="a wolve">
                                <img src="../static/images/collage/black.jpg" style="opacity: 0;">
                                <img src="../static/images/collage/malwarecollage.gif"  alt="a tiger">
                                <img src="../static/images/collage/black.jpg" style="opacity: 0;" alt="a forest in the snow">
                                <img src="../static/images/collage/middle.gif" alt="a lioness">
                                <img src="../static/images/collage/black.jpg" style="opacity: 0;"alt="a forest">
                                <img src="../static/images/collage/phising.gif" alt="those kind of dog and wolve at the same time">
                                <img src="../static/images/collage/black.jpg" style="opacity: 0;"alt="the sea">
                                <img src="../static/images/collage/ransomewarecollage.gif" alt="a bear">
                              </div>                            <br/><br/><br/><br/><br/><br/>
                            <!--<div class="about-text-info d-flex" >
                                <div class="d-flex">
                                    <i class="about-text-icon bi-person"></i>
                                </div>

                                <div class="ms-4">
                                    <h3 >a happy moment</h3>

                                    <p class="mb-0">your amazing festival experience with us</p>
                                </div>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <div class="container mt-5">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/images/cardImages/phishing.webp" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Phishing</h5>

                      <p class="card-text">Phishing is a type of online scam where deceitful emails, messages, or websites <br> pretend to be trustworthy to trick people into revealing sensitive information.</p>
                      <a href="{{ url_for('phishing') }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
              </div>
          
              <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/images/cardImages/malware.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Malware</h5>
                      <p class="card-text">Malware is bad software that tries to mess up, damage, or sneak into your computer without permission.</p>
                      <a href="../templates/malware.html" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
              </div>
          
              <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/images/cardImages/ransom.png" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"> Ransomware</h5>
                      <p class="card-text">Ransomware is a type of malicious software that locks or encrypts a user's files, demanding payment  to restore access</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
              </div>
          
              <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/images/cardImages/scam.png" alt="Card image cap">
                    <div class="card-body">
    
                      <h5 class="card-title">Online scam</h5>
                      <p class="card-text">An online scam is a deceptive scheme on the internet that tricks people into giving away money or personal information through fraudulent activities.</p>
                      <a href="" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <!--<div class="d-flex p-3 bg-secondary text-white flex-column flex-md-row" style="text-align: center;">

            <div class="card p-auto " style="width: 18rem;" >
                <img class="card-img-top" src="../static/images/cardImages/phishing.webp" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Phising</h5>
                  <p class="card-text">Phishing is a type of online scam where deceitful emails, messages, or websites <br> pretend to be trustworthy to trick people into revealing sensitive information.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="px-2">

              </div>
              <div class="card p-3 " style="width: 18rem;">
                <img class="card-img-top" src="../static/images/cardImages/malware.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Malware</h5>
                  <p class="card-text">Malware is bad software that tries to mess up, damage, or sneak into your computer without permission.</p>
                  <a href="../templates/malware.html" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="px-2">

              </div>
              <div class="card p-3 " style="width: 18rem;">
                <img class="card-img-top" src="../static/images/cardImages/ransom.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> Ransomware</h5>
                  <p class="card-text">Ransomware is a type of malicious software that locks or encrypts a user's files, demanding payment  to restore access</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="px-2">

              </div>
              <div class="card p-3 " style="width: 18rem;">
                <img class="card-img-top" src="../static/images/cardImages/scam.png" alt="Card image cap">
                <div class="card-body">

                  <h5 class="card-title">Online scam</h5>
                  <p class="card-text">An online scam is a deceptive scheme on the internet that tricks people into giving away money or personal information through fraudulent activities.</p>
                  <a href="" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>-->
        <!--
        <section class="artists-section section-padding" id="section_3">
            <div class="container">
                
                  <div class="card p-3 " style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                <div class="row justify-content-center">
                    
                      <br><br>
                      <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                    <div class="col-12 text-center">
                        <h2 class="mb-4">Meet Artists</h1>
                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="artists-thumb">
                            <div class="artists-image-wrap">
                                <img src="images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg"
                                    class="artists-image img-fluid">
                            </div>
                            <div class="about-text-info d-flex" >
                                <div class="d-flex">
                                    <i class="about-text-icon bi-person"></i>
                                </div>

                                <div class="ms-4">
                                    <h3 >a happy moment</h3>

                                    <p class="mb-0">your amazing festival experience with us</p>
                                </div>
                            </div>
                            <!--
<div class="artists-hover">
                                <p>
                                    <strong>Name:</strong>
                                    Madona
                                </p>

                                <p>
                                    <strong>Birthdate:</strong>
                                    August 16, 1958
                                </p>

                                <p>
                                    <strong>Music:</strong>
                                    Pop, R&amp;B
                                </p>

                                <hr>

                                <p class="mb-0">
                                    <strong>Youtube Channel:</strong>
                                    <a href="#">Madona Official</a>
                                </p>
                            </div>
                        </div>
                            
                            
                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="artists-thumb">
                            <div class="artists-image-wrap">
                                <img src="images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg"
                                    class="artists-image img-fluid">
                            </div>

                            <div class="artists-hover">
                                <p>
                                    <strong>Name:</strong>
                                    Rihana
                                </p>

                                <p>
                                    <strong>Birthdate:</strong>
                                    Feb 20, 1988
                                </p>

                                <p>
                                    <strong>Music:</strong>
                                    Country
                                </p>

                                <hr>

                                <p class="mb-0">
                                    <strong>Youtube Channel:</strong>
                                    <a href="#">Rihana Official</a>
                                </p>
                            </div>
                        </div>

                        <div class="artists-thumb">
                            <img src="images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg"
                                class="artists-image img-fluid">

                            <div class="artists-hover">
                                <p>
                                    <strong>Name:</strong>
                                    Bruno Bros
                                </p>

                                <p>
                                    <strong>Birthdate:</strong>
                                    October 8, 1985
                                </p>

                                <p>
                                    <strong>Music:</strong>
                                    Pop
                                </p>

                                <hr>

                                <p class="mb-0">
                                    <strong>Youtube Channel:</strong>
                                    <a href="#">Bruno Official</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="search-bar section-padding" id="section_5">
            <div class="container">
                <div class="row">
                    <p>Virus check for Website</p>
                    <div class="row-12 text-center">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                          </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="schedule-section section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="text-white mb-4">Event Schedule</h1>

                            <div class="table-responsive">
                                <table class="schedule-table table table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>

                                            <th scope="col">Wednesday</th>

                                            <th scope="col">Thursday</th>

                                            <th scope="col">Friday</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th scope="row">Day 1</th>

                                            <td class="table-background-image-wrap pop-background-image">
                                                <h3>Pop Night</h3>

                                                <p class="mb-2">5:00 - 7:00 PM</p>

                                                <p>By Adele</p>

                                                <div class="section-overlay"></div>
                                            </td>

                                            <td style="background-color: #F3DCD4"></td>

                                            <td class="table-background-image-wrap rock-background-image">
                                                <h3>Rock & Roll</h3>

                                                <p class="mb-2">7:00 - 11:00 PM</p>

                                                <p>By Rihana</p>

                                                <div class="section-overlay"></div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Day 2</th>

                                            <td style="background-color: #ECC9C7"></td>

                                            <td>
                                                <h3>DJ Night</h3>

                                                <p class="mb-2">6:30 - 9:30 PM</p>

                                                <p>By Rihana</p>
                                            </td>

                                            <td style="background-color: #D9E3DA"></td>
                                        </tr>

                                        <tr>
                                            <th scope="row">Day 3</th>

                                            <td class="table-background-image-wrap country-background-image">
                                                <h3>Country Music</h3>

                                                <p class="mb-2">4:30 - 7:30 PM</p>

                                                <p>By Rihana</p>

                                                <div class="section-overlay"></div>
                                            </td>

                                            <td style="background-color: #D1CFC0"></td>

                                            <td>
                                                <h3>Free Styles</h3>

                                                <p class="mb-2">6:00 - 10:00 PM</p>

                                                <p>By Members</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="pricing-section section-padding section-bg" id="section_5">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Plans, you' love</h2>
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div> 
                                    <h3><small>Early Bird</small> $120</h3>

                                    <p>Including good things:</p>
                                </div>

                                <p class="pricing-tag ms-auto">Save up to <span>50%</span></h2>
                            </div>

                            <ul class="pricing-list mt-3">
                                <li class="pricing-list-item">platform for potential customers</li>

                                <li class="pricing-list-item">digital experience</li>

                                <li class="pricing-list-item">high-quality sound</li>

                                <li class="pricing-list-item">standard content</li>
                            </ul>

                            <a class="link-fx-1 color-contrast-higher mt-4" href="ticket.html">
                                <span>Buy Ticket</span>
                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
                        <div class="pricing-thumb">
                            <div class="d-flex">
                                <div>
                                    <h3><small>Standard</small> $240</h3>

                                    <p>What makes a premium festava?</p>
                                </div>
                            </div>

                            <ul class="pricing-list mt-3">
                                <li class="pricing-list-item">platform for potential customers</li>

                                <li class="pricing-list-item">digital experience</li>

                                <li class="pricing-list-item">high-quality sound</li>

                                <li class="pricing-list-item">premium content</li>

                                <li class="pricing-list-item">live chat support</li>
                            </ul>

                            <a class="link-fx-1 color-contrast-higher mt-4" href="ticket.html">
                                <span>Buy Ticket</span>
                                <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                        <circle cx="16" cy="16" r="15.5"></circle>
                                        <line x1="10" y1="18" x2="16" y2="12"></line>
                                        <line x1="16" y1="12" x2="22" y2="18"></line>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>
-->

        <section class="contact-section section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Interested? Let's talk</h2>

                        <nav class="d-flex justify-content-center">
                            <div class="nav nav-tabs align-items-baseline justify-content-center" id="nav-tab"
                                role="tablist">
                                <button class="nav-link active" id="nav-ContactForm-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-ContactForm" type="button" role="tab"
                                    aria-controls="nav-ContactForm" aria-selected="false">
                                    <h5>Contact Form</h5>
                                </button>

                                <button class="nav-link" id="nav-ContactMap-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-ContactMap" type="button" role="tab"
                                    aria-controls="nav-ContactMap" aria-selected="false">
                                    <h5>Google Maps</h5>
                                </button>
                            </div>
                        </nav>

                        <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                                aria-labelledby="nav-ContactForm-tab">
                                <form class="custom-form contact-form mb-5 mb-lg-0" action="#" method="post"
                                    role="form">
                                    <div class="contact-form-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="text" name="contact-name" id="contact-name"
                                                    class="form-control" placeholder="Full name" required>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-12">
                                                <input type="email" name="contact-email" id="contact-email"
                                                    pattern="[^ @]*@[^ @]*" class="form-control"
                                                    placeholder="Email address" required>
                                            </div>
                                        </div>

                                        <input type="text" name="contact-company" id="contact-company"
                                            class="form-control" placeholder="Company" required>

                                        <textarea name="contact-message" rows="3" class="form-control"
                                            id="contact-message" placeholder="Message"></textarea>

                                        <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                            <button type="submit" class="form-control">Send message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="nav-ContactMap" role="tabpanel"
                                aria-labelledby="nav-ContactMap-tab">
                                <iframe class="google-map"
                                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14975.313696638997!2d57.5341296!3d-20.2244496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x217c5a136556fc63%3A0x6d30a3a97dc5e2f5!2sSpoon%20Consulting!5e0!3m2!1sen!2smu!4v1699556262387!5m2!1sen!2smu"
                                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                                <!-- You can easily copy the embed code from Google Maps -> Share -> Embed a map // -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>


    <footer class="site-footer">
        <!--<div class="site-footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">Festava Live</h2>
                    </div>

                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-twitter"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-apple"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-youtube"></span>
                                </a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link">
                                    <span class="bi-pinterest"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4 pb-2">
                    <h5 class="site-footer-title mb-3">For more information, you can consult our chatbot</h5>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">chatbot</a>
                        </li>
                    </ul>
                </div>
               <!-- <div class="col-lg-6 col-12 mb-4 pb-2">
                    <h5 class="site-footer-title mb-3">Links</h5>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">About</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Artists</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Schedule</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Pricing</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>-->

                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <h5 class="site-footer-title mb-3">Want to contact us?</h5>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 090-080-0760" class="site-footer-link">
                            090-080-0760
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:hello@company.com" class="site-footer-link">
                            group6@spoonconsulting.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
                    <h5 class="site-footer-title mb-3">Location</h5>

                    <p class="text-white d-flex mt-3 mb-2">
                        The factory, Vivea park</p>

                    <a class="link-fx-1 color-contrast-higher mt-3" href="#">
                        <span>Our Maps</span>
                        <svg class="icon" viewBox="0 0 32 32" aria-hidden="true">
                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="16" cy="16" r="15.5"></circle>
                                <line x1="10" y1="18" x2="16" y2="12"></line>
                                <line x1="16" y1="12" x2="22" y2="18"></line>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">Distributed by: <a href="https://group6.com">group6</a></p>
                    </div>

                    <div class="col-lg-8 col-12 mt-lg-5">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Terms &amp; Conditions</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Privacy Policy</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Your Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--

T e m p l a t e M o

-->

    <!-- JAVASCRIPT FILES -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/click-scroll.js"></script>
    <script src="static/js/custom.js"></script>

</body>

</html>