
{% extends "navbar.html" %}
 {% block css %} 
 <link href="static/css/quiz.css" rel="stylesheet">
 {% endblock %}         

 {% block content %}
        <section class="contact-section section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="text-center mb-4">Quiz</h2>

                       

                        <div class="tab-content shadow-lg mt-5" id="nav-tabContent" >

                            <div>
                                <h1 id="questionText">Is this email legitimate?
                                </h1>

                            </div>

                            <div class="question-container" >

                                <div class="text-question">
                                    <div class="answer">
                                        <input type="radio" id="ans1" name="fav_language" value="wrong answer">
                                        <label for="ans1">To support cybercriminal activities</label>
                                    </div>

                                    <div class="answer">
                                        <input type="radio" id="ans1" name="fav_language" value="To support cybercriminal activities">
                                        <label for="ans1">To support cybercriminal activities</label>

                                    </div>

                                    <div class="answer">
                                        <input type="radio" id="ans1" name="fav_language" value="To support cybercriminal activities">
                                        <label for="ans1">To support cybercriminal activities</label><br>
                                    </div>

                                    <div class="answer">
                                        <input type="radio" id="ans1" name="fav_language" value="To support cybercriminal activities">
                                        <label for="ans1">To support cybercriminal activities</label><br>
                                    </div>
                              
                

                                </div> <!-- text-question-->

                                <div class="image-question"  style="display:none;"> 

                                    <img src="static/images/imagesQues/smallemail.png" alt="" style="width:100%">
    
                                </div> <!-- image-question-->

                            
                            </div><!-- question-container-->

                            

                            <div class="correct-answer-container">

                                <p id="correctAnswer"></p>

                            </div>

                            <div class="col-lg-3 col-md-10 col-6 mx-auto">
                                <button type="submit" class="form-control submit-button-red"  id="submitButton">Submit</button>

                                <div class="row image-question-buttons"  style="display:none;">
                                    <button type="button" class="form-control submit-button-red col imageButton" id="Yes" value="Yes" >Yes</button>
                                    <button type="button" class="form-control submit-button-red col imageButton" id="No" value="No">No</button>
                                </div>
                            </div>
                            

                            
                        </div>


                        <div class="tab-content shadow-lg mt-5 scoreScreen" id="nav-tabContent" style="display:none;">

                            <div>
                                <h1 id="scoreTitle">You scored</h1>

                                <h1 id="scoreText"><span id="score">4 </span> out of 10</h1>

                            </div>

                            <div class="advice-container">
                                <p id="advice">Take some time to <a href="#">learn more</a> about online fraud </p>
                            </div>

                            <div class="col-lg-3 col-md-10 col-6 mx-auto">
                                <button type="button" class="form-control submit-button-red" id="retakeButton">Retake Quiz</button>
                            </div>
                            

                
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    {% endblock %}         
